extends base
include ../mixins/feature
block contents
    .page_inner 
        .detail 
            .detail-wrap 
                .detail-header
                    h3=project.name 
                    p=project.desc
                    .link 
                        button
                            a(href=project.url target="_blank") Link
                        button  
                            a(href=project.github target="_blank") Github  
                .detail-content  
                    .detail-thumb
                        img(src=project.thumb , alt="thumbnail")
                .detail-summary 
                    .detail__skills 
                        h3.title skill
                        each skill in project.tools
                            span #{skill}/&nbsp;
                    .detail__goals 
                        h3.title goals
                        ul  
                            each goal in project.goals 
                                li=goal 
                    .detail-features
                        h3.title features
                        p
                            each feature in project.features 
                                span #{feature.name}&nbsp;&nbsp;
                        +feature(item)
        include ../partials/footer
            

                        
